#profile{
  width: 100%;
  height: 400px;

}
#profile .cover{
  width: 70%;
  height: 80%;
  background-color: #1d2129;
  margin: 0 auto;
}
#profile .profile{
  width: 168px;
  height: 168px;
  position: absolute;
  background-color: #fff;
  bottom: 50px;
  left: 200px;
  border:#ccc solid 1px;
  border-radius: 3px;
}
#profile .username{
  width: 100px;
  height:50px;
  position: absolute;
  left:400px;
  bottom:80px;
  color: #fff;
  font-size: 30px;
}
#profile .menu{
  width: 70%;
  height: 12%;
  background-color: #fff;
  margin: 0 auto;
  border:#ccc solid 1px;
  border-top: 0;
  padding-left: 200px;
  box-sizing: border-box;
}
#profile .menu > div{
  color: #365899;
  padding: 15px;
  box-sizing: border-box;
  float: left;
  cursor: pointer;
}
#profile .menu > .friendRequestBtn{
  float: right;
  cursor: pointer;
}

#friendListBox{
  width: 100%;
  height:auto;
  padding: 15px 0;
}
#friendListBox > .ListContent{
  width: 500px;
  height: auto;
  padding: 10px;
  padding-bottom: 0;
  box-sizing: border-box;
  background-color: #fff;
  border:#ddd solid 1px;
  border-radius: 3px;
  margin: 5px auto;
}
#friendListBox > .ListContent > .list{
  width: 100%;
  height: 40px;
  margin: 5px 0;
}
#friendListBox > .ListContent > .list > .profile{
  width: 35px;
  height:35px;
  background-color: #eee;
  border-radius: 50%;
  float: left;
}

#friendListBox > .ListContent > .list > .username{
  color: #333;
  display: inline-block;
  margin-top: 7px;
  margin-left: 10px;
  font-size: 15px;
}

